* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.hero-section {
  /* margin: 12px, 145px, 968px; */
  box-sizing: border-box;
  padding-left: 145.09px;
  padding-right: 144.01px;
}

.logo {
  display: flex;
  width: 99px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
}
.nav-bar {
  margin: 12px;
  display: flex;
  align-items: center;
  gap: 140px;
  width: auto 1150px;
  height: auto 44px;
}
.nav-middle {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  gap: 40px;
}
.nav-end {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  gap: 24px;
}

.feat-chev {
  display: flex;
  align-items: center;
}

.free-trial {
  padding: 12px, 24px;
  border-radius: 10px;
}

header {
  padding-top: 3.8rem;
}

.header-title {
  text-transform: capitalize;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2.5rem;
}
.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  text-align: center;
}

.header-text {
  max-width: 710px;
  margin: 0 auto;
  font-size: 1.125rem;
  font-family: "gilroy-medium";
}

.header-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.header-btn {
  width: 9rem;
  cursor: pointer;
}
.header-btn {
  border-radius: 10px;
}
.header-learn {
  background-color: white;
  padding: 0px;
}

h1 {
  font-family: "gilroy-bold";
}

.sub-header {
  display: flex;
  flex-direction: column;
}

.header-underline {
  margin-top: -24px;
}

.chain-contain {
  justify-content: center;
  margin: auto;
  width: auto;
  margin-top: 96px;
  position: relative;

  /* display: flex; */
  /* border: 10px salmon; */
}

.chain {
  border: 0.5px solid #005ae2;
  border-radius: 24px;
  padding: 40px 60px;
  width: 500px;
  margin: auto;
  background: rgba(254, 254, 254, 0.1);
  backdrop-filter: blur(106px);
}

.chaines {
  display: flex;
}
.line {
  margin-top: 5px;
}

.chain-arrow {
  display: flex;
  gap: 20px;
}
.chain-text {
  text-align: center;
  font-size: 12px;
  font-family: Gilroy-Medium;
  line-height: 24px;
  margin-top: 30px;
}

.chain-bg {
  position: absolute;
  top: -14px;
  left: 488px;
  height: 218px;
  z-index: -100;
}
.chain-img {
  height: 100%;
}

.eclipse {
    margin-top: 76px;
    position: relative;
  }

.eclipse-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}