* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: gilroy-medium;
  line-height: 1.5;
}

.hero-section {
  /* margin: 12px, 145px, 968px; */
  box-sizing: border-box;
  padding-left: 145.09px;
  padding-right: 144.01px;
}

.logo {
  display: flex;
  width: 99px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
}
.nav-bar {
  margin: 12px;
  display: flex;
  align-items: center;
  gap: 140px;
  width: auto 1150px;
  height: auto 44px;
}
.nav-middle {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  gap: 40px;
}
.nav-end {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  gap: 24px;
}

.feat-chev {
  display: flex;
  align-items: center;
}

.free-trial {
  padding: 12px, 24px;
  border-radius: 10px;
}

header {
  padding-top: 3.8rem;
}

.header-title {
  text-transform: capitalize;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2.5rem;
}
.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  text-align: center;
}

.header-text {
  max-width: 710px;
  margin: 0 auto;
  font-size: 1.125rem;
  font-family: "gilroy-medium";
}

.header-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.header-btn {
  width: 9rem;
  cursor: pointer;
}
.header-btn {
  border-radius: 10px;
}
.header-learn {
  background-color: white;
  padding: 0px;
}

h1 {
  font-family: "gilroy-bold";
}

.sub-header {
  display: flex;
  flex-direction: column;
}

.header-underline {
  margin-top: -24px;
}

.chain-contain {
  justify-content: center;
  margin: auto;
  width: auto;
  margin-top: 96px;
  position: relative;

  /* display: flex; */
  /* border: 10px salmon; */
}

.chain {
  border: 0.5px solid #005ae2;
  border-radius: 24px;
  padding: 40px 60px;
  width: 500px;
  margin: auto;
  background: rgba(254, 254, 254, 0.1);
  backdrop-filter: blur(106px);
}

.chaines {
  display: flex;
}
.line {
  margin-top: 5px;
}

.chain-arrow {
  display: flex;
  gap: 20px;
}
.chain-text {
  text-align: center;
  font-size: 12px;
  font-family: Gilroy-Medium;
  line-height: 24px;
  margin-top: 30px;
}

.chain-bg {
  position: absolute;
  top: -14px;
  left: 488px;
  height: 218px;
  z-index: -100;
}
.chain-img {
  height: 100%;
}

.eclipse {
  margin-top: 76px;
  position: relative;
}

.eclipse-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* engagement */

.engagement {
  padding: 60px 140px;

  background: #f9fbfd;
}

.engagement-all {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.engagement-note {
  width: 337px;
  font-size: 40px;
  line-height: 48px;
}

.engagement-list {
  display: flex;

  gap: 72px;
  justify-content: flex-end;
}

.engagement-list {
  display: flex;
  gap: 3rem;
}

.engagement-figure {
  font-weight: bold;
  font-size: 32px;
}

.engagement-fig-info {
  display: block;
  font-size: 16px;
}

.engagement-all {
  flex-direction: row;
  justify-content: space-between;
  gap: 120px;
}

.details-head {
  width: 337px;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}

.details-title-container {
  display: flex;
  font-size: 10px;

  gap: 5px;
}

.details-head-scissors {
  font-size: 20px;
}

.details-center {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 128px 120px 130px 120px;
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.detail-text h2 {
  font-size: 16px;
}

.detail-icon {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: rgba(220, 228, 235, 0.7);
  display: grid;
  place-items: center;
}

.details-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-head {
  font-size: 40px;
}

.details-center {
  flex-direction: row;
  gap: 5%;
}

.details-title-container {
  flex-basis: 40%;
}

.details-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-basis: 55%;
}
